<div id="particles-js"></div>
<div class="container">
	<div class="px-4 py-5 my-5 text-center">
		<img class="d-block mx-auto mb-1" src="../../assets/logo.png" alt="" width="80" height="80" />
		<h1 class="display-4">CRAP</h1>
		<div class="col-lg-6 mx-auto">
			<p class="lead mb-4">
				Welcome to the world of Creative & Remarkable AI for Productivity
			</p>
			<div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
				<button type="button" class="good-btn login-btn px-4 gap-3" routerLink="/study-sessions">
					Login Button
				</button>
				<button type="button" class="good-btn signup-btn px-4" routerLink="/study-sessions">
					Signup Button
				</button>
			</div>
		</div>
	</div>
</div>