<div class="px-4 py-5">
	<div *ngIf="studySessionDetail | async as details">
		<div class="h6 text-muted">{{ userEmail }}</div>
		<div class="display-6 fw-bold">
			Session: {{ details.session_name }} Statistics
		</div>
		<div class="h6 text-muted">
			{{ details.created_at | date : "longDate" }} @
			{{ details.created_at | date : "shortTime" }}
		</div>
		<div class="mt-5">
			<div class="bg-default">
				<div class="main-content">
					<div class="header bg-gradient-primary pb-8 pt-md-8">
						<div class="container-fluid">
							<div class="header-body">
								<div class="row">
									<div class="col-xl-3 col-lg-6">
										<div
											class="card card-stats mb-4 mb-xl-0"
										>
											<div
												class="card"
												style="width: 18rem"
											>
												<img
													[src]="
														'data:image/png;base64,' +
														sessionStats.piechart
													"
													alt="Image"
												/>
												<div class="card-body">
													<h5 class="card-title">
														Pie Chart
													</h5>
												</div>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-lg-6">
										<div class="card" style="width: 18rem">
											<img
												[src]="
													'data:image/png;base64,' +
													sessionStats.wordcloud
												"
												alt="Image"
											/>
											<div class="card-body">
												<h5 class="card-title">
													Word Cloud
												</h5>
											</div>
										</div>
									</div>
									<div class="col-xl-3 col-lg-6">
										<div
											class="card card-stats mb-4 mb-xl-0"
										>
											<div class="card-body">
												<div class="row">
													<div class="col">
														<h5
															class="card-title text-uppercase text-muted mb-0"
														>
															Quiz Score
														</h5>
														<span
															class="h2 font-weight-bold mb-0"
															>{{
																sessionStats.score
															}}</span
														>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
