<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <div class="ms-auto d-flex">
      <ng-container *ngIf="auth.isAuthenticated$ | async">
        <button
          class="btn ms-3 btn-danger"
          (click)="
            auth.logout({
              logoutParams: { returnTo: document.location.origin }
            })
          "
        >
          Log out
        </button>
      </ng-container>
    </div>
  </div>
</nav>
