<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../static/css/bootstrap.css" rel="stylesheet" />

    <style>
        button {
            padding: 10px;
            background-color: #3C79F8;
            display: inline-block;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Session UUID: <span id="session-uuid"></span></a>
    </nav>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100px; width: 150px">
        <button id="start-session" class="btn btn-success btn-lg" style="display:none">Start Session</button>
    </div>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100px; width: 150px">
        <button id="login" class="btn btn-success btn-lg">Login</button>
    </div>
    <div class="container d-flex justify-content-center align-items-center"
        style="height: 100px; width: 150px; display: none">
        <button id="logout" class="btn btn-danger btn-lg">Logout</button>
    </div>

</body>
<script src="../static/js/bootstrap.bundle.js"></script>
<script src="../static/js/popup.js"></script>
<script type="text/javascript" src="../static/js/oauth.js"></script>


</html>