<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="../static/css/bootstrap.css" rel="stylesheet" />

</head>

<body>

    <nav class="navbar navbar-light" style="background-color: #00b5b8;">
        <a class="navbar-brand" href="#" style="color: black; font-size: 14px; font-weight: bold;">
            Session UUID: <span id="session-uuid"></span>
        </a>
    </nav>

    <div class="container d-flex justify-content-center align-items-center" style="height: 100px; width: 150px">
        <button id="start-session" class="btn btn-success btn-lg" style="display:none">Start Session</button>
    </div>
    <div class="container d-flex justify-content-center align-items-center" style="height: 80px; width: 130px">
        <button id="login" class="btn btn-success btn-lg">Login</button>
    </div>
    <div class="container d-flex justify-content-center align-items-center"
        style="height: 100px; width: 150px; display: none">
        <button id="logout" class="btn btn-danger btn-lg">Logout</button>
    </div>

</body>
<script src="../static/js/bootstrap.bundle.js"></script>
<script src="../static/js/popup.js"></script>
<script type="text/javascript" src="../static/js/oauth.js"></script>


</html>